h1 {
  color:black;
  font-size:150px;
  font-family:impact;
text-align:center;
}

 


body {
background-color:azure;
}
.words {
  position: relative;
  animation: move-words 20s linear infinite;
  margin: 0;
}


.container {
  display:grid;
  grid-template-areas: 
      "header header"
      "menu content";
      
      grid-template-columns: 200px;
      grid-template-rows:auto auto auto auto;
  gap:10px;
  width:100%;
}


.header {
  grid-area: header;
  display:flex;
  background-color:azure;
  align-items:center; color: azure;
  padding:0;
  text-align: center;
  border:3px solid black;

}


.menu {
  grid-area: menu;
  background:linear-gradient(to right,  violet, yellow, azure);
  color:fuchsia;
  font-size:50px;
  font-family:impact;
  border:3px solid black;
  grid-auto-rows: auto;
  font-weight:100;

}

.menu ul {
  list-style-type:none;
 
}

.menu li {
  margin: 10px 0;
 
}

.menu a {
  color:black;
  text-decoration:none;
  font-size:30px;
  max-width:100%;
  
 
  
}
.content {
  grid-area: content;
  background:linear-gradient(to right, violet, yellow, azure);
  border: 3px solid black;
}


body {
  background:azure;
}

.menu li a:hover {
  color:azure;
  
}


p {
  color:black;
  font-family:impact;
  font-size:25px;

}

h3 {
  color:black;
  font-family:impact;
  font-size:50px;
  float:center;
}

h3:hover {
  color:azure;

}

h2 {
  font-family:impact;
  font-weight:bold;
  font-size:40px;

margin-top:40px;
margin-bottom:40px;

width:500px;
margin-left:350px;


}

section.image-grid {
  grid-area: content;
  display: flex;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  border: 3px solid black;
  grid-auto-rows:auto;
  grid-auto-columns:auto;
 
}

footer {
  grid-area: footer;
}

.image-grid {
  display:grid;
  grid-template-columns:repeat (auto-fit, minmax(250px, 1fr));

 
 
}

.grid-item {
  display:grid;
  text-align:center;
  gap:5px;
  padding:10px;

}

.styled-image {
  margin:0 auto;
  display:block;
  object-fit:cover;
 width:250px;
 height:250px;
 border:2px solid yellow;
 padding:3px;
 cursor:grab;

  
}

.styled-image:hover {
  box-shadow:3px 3px 3px 3px fuchsia;
  
}

.moving-header {
  position:absolute;
  top: 30px; 
  right: 0;
  font-size: 40px;
  font-weight: bold;
  animation: moveHeader 12s infinite alternate-reverse;
 
}

@keyframes moveHeader {
  100% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-300px); 
  }
}

a {
  color:black;
  font-size:30px;
  font-family:impact;
  text-decoration-line:underline;
}



.main-content {
  display:grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 10px;
  margin-top:10px;

}


.text-bar {
  background:linear-gradient(to right, violet, yellow, azure);
  text-align:center;
  font-size:20px;
  font-family:impact;
  border: 3px solid black;
  border-radius:3px;
}



.item-info {
  margin-top: 10px;
  border: 3px solid black;
  border-radius:3px;
  background:linear-gradient(to right, violet, yellow, azure);
  

}

.add-to-bag {
  background-color:fuchsia;
  font-family:impact;
  color:black;
  cursor:grab;
  font-size:20px;

}

.contact-form-container {
  background:linear-gradient(to right, violet, yellow, azure);
max-width: 400px;
margin:0 auto;
padding:10px;
border:2px solid black;
border-radius:10px;
float:left;
margin-top:35px;
margin-bottom:20px;




}


 textarea {
resize:none;
border:2px solid black;
border-radius:10px;
}


button {
  border:2px solid black;
  border-radius:10px;
  background-color:azure;
  color:black;
  cursor:grab;
}
button:hover {
  color:azure;
}


.email-input {
  border:2px solid black;
  border-radius:10px;
  padding:2px;
}

.name-input {
  border:2px solid black;
  border-radius:10px;
  padding: 2px;
}

h2 {
  font-family:impact;
  font-size:60px;
  color:black;
  
  
 
}

a {
  font-family:impact;
  font-size:60px;
 text-decoration-line:none;
}

a:hover {
  color:fuchsia;

  
}

.about-us-container {
  display:grid;
  border:3px solid black;
  border-radius:5px;
  margin-bottom:20px;
  margin-top:20px;
  border-color:black;
  max-width:50%;
  max-height:50%;

  background:linear-gradient(to right, violet, yellow, azure);
}

.image-container {
  margin-top:50px;
  display:flex;
  gap:10px;
  margin-left:50px;
}

.image-container img {
  width:70%;
  height:100%;
  object-fit:cover;
  border-radius:10px;
  border:2px solid azure;
  border-color:black;
  transition: all ease-in-out 1s;
}

.image-container img:hover {
  width:100%
}