h1 {
    color:fuchsia;
    font-size:120px;
    font-family:impact;
text-align:center;
}
h1:hover {
    color:black;
}

body {
background-color:azure;
}
.words {
    position: relative;
    animation: move-words 20s linear infinite;
    margin: 0;
  }

  @keyframes move-words {
    0% {
      left: 95%;
    }
    100% {
      left: -100%;
    }
  }

  * {
    margin: 10;
    padding: 10;
    box-sizing:content-box;
}

body {
    font-family:monospace;
}


.container {
    display: grid;
    grid-template-areas: 
        "header header"
        "menu content";
    grid-template-columns: 200px 1fr;
    grid-template-rows: auto 5fr;
    height: 100vh;
    gap:10px;
}


.header {
    grid-area: header;
    background-color:azure;
    color: azure;
    padding: 20px;
    text-align: center;
    border:3px solid black;
}


.menu {
    grid-area: menu;
    background-color:azure;
    color:fuchsia;
    padding: 20px;
    font-size:22px;
    font-family:impact;
    border:3px solid black;

}

.menu ul {
    list-style-type:none;
}

.menu li {
    margin: 10px 0;
}

.menu a {
    color:fuchsia;
    text-decoration: none;
}


.content {
    grid-area: content;
    padding: 20px;
    background-color:azure;
    border: 3px solid black;
}

body {
    background-color:azure;
}

.menu li a:hover {
    color:black;
    box-shadow: 5px 5px 5px fuchsia;
}

.scrolling-text {
    overflow: hidden;
    white-space: nowrap;
    display: inline-block;

    animation: scroll 10s linear infinite;
}
.words {
    position: relative;
    animation:moveBackAndForth 10s linear infinite alternate;
    margin: 0;
  }

  @keyframes moveBackandForth {
    0% {
      left: 0%;
    }
    100% {
      left: calc(100%-100px);
    }
  }