h1 {
  color:black;
  font-size:120px;
  font-family:impact;
text-align:center;
}
h1:hover {
  color:azure;
 
}

body {
background-color:azure;
}
.words {
  position: relative;
  animation: move-words 20s linear infinite;
  margin: 0;
}

@keyframes move-words {
  0% {
    left: 95%;
  }
  100% {
    left: -100%;
  }
}

* {
  margin: 10;
  padding: 10;
  box-sizing:content-box;
}

body {
  font-family:monospace;
}


.container {
  display: grid;
  grid-template-areas: 
      "header header"
      "menu content";
      grid-template-columns: 200px;
      grid-template-rows:auto auto auto auto;
  gap:10px;
  width:100%;
  grid-auto-rows: minmax(min-content,max-content);


}


.header {
  grid-area: header;
  background-color:azure;
  color: azure;
  padding:0;
  text-align: center;
  border:3px solid black;
}


.menu {
  grid-area: menu;
  background:linear-gradient(to right, fuchsia, yellow);
  color:fuchsia;
  font-size:50px;
  font-family:impact;
  border:3px solid black;
  grid-auto-rows: auto;
  font-weight:100;

}

.menu ul {
  list-style-type:none;
 
}

.menu li {
  margin: 10px 0;
  background:linear-gradient(to right, fuchsia, yellow);
}

.menu a {
  color:black;
  text-decoration:none;
  font-size:30px;
  max-width:100%;
  background:linear-gradient(to right, fuchsia, yellow);
 
  
}
.content {
  grid-area: content;
  background:linear-gradient(to right, fuchsia, yellow);
  border: 3px solid black;
}

body {
  background:azure;
}

.menu li a:hover {
  color:azure;
  
}



p {
  color:black;
  font-family:impact;
  font-size:25px;

}

p:hover {
  color:fuchsia;
  
}

section.image-grid {
  grid-area: content;
  display: flex;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  gap: 20px;
  border: 3px solid black;
  grid-auto-rows:auto;
  grid-auto-columns:auto;
 
}

footer {
  grid-area: footer;
}

.image-grid {
  display:grid;
  grid-template-columns:auto;
 
 
}

.image-grid img {
  width: 100%;
  height: auto;
  object-fit: cover;
  grid-auto-rows:auto;
  

  
}

h3 {
  color:black;
  font-family:impact;
  font-size:50px;
  float:center;
}

h3:hover {
  color:azure;

}

h2 {
  font-family:impact;
  font-weight:bold;
  font-size:40px;
}

.styled-image {
  margin:0 auto;
  display:block;
  object-fit:cover;
 width:250px;
 height:250px;

  
}

.styled-image:hover {
  box-shadow:10px 10px 10px 10px fuchsia;
  
}

.moving-header {
  position:absolute;
  top: 30px; 
  right: 0;
  font-size: 40px;
  font-weight: bold;
  animation: moveHeader 12s infinite alternate-reverse;
 
}

@keyframes moveHeader {
  100% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-300px); 
  }
}

a {
  color:black;
  font-size:30px;
  font-family:impact;
}
a:hover {
  color:black;

}

.main-content {
  display:grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 10px;
  margin-top:10px;

}


.text-bar {
  background:linear-gradient(to right, fuchsia, yellow);
  text-align:center;
  font-size:20px;
  font-family:impact;
}

.grid-item {
  display:grid;
  align-items:normal;
  margin:5px;
  text-align:center;
  width:100%;
}

.item-info {
  margin-top: 10px;
}

.add-to-bag {
  background-color:fuchsia;
  font-family:impact;
  color:black;
  cursor:pointer;
  font-size:20px;

}

.contact-form-container {
  background:yellow;
max-width: 400px;
margin:0 auto;
padding:10px;
border:2px solid black;
border-radius:10px;
float:left;
margin-top:35px;
}


 textarea {
resize:none;
border:2px solid black;
border-radius:10px;
}


button {
  border:2px solid black;
  border-radius:10px;
  background-color:azure;
  color:black;
  cursor:grab;
}
button:hover {
  color:fuchsia;
}


.email-input {
  border:2px solid black;
  border-radius:10px;
  padding:2px;
}

.name-input {
  border:2px solid black;
  border-radius:10px;
  padding: 2px;
}

